body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
  }

  header {
    position: relative;
    background: url(header.jpg) no-repeat;
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden; /* Agar pseudo-element tidak keluar dari header */
  }
  
  header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Warna hitam dengan transparansi 50% */
    z-index: 1;
  }
  
  header * {
    position: relative;
    z-index: 2; /* Agar teks dan elemen lain berada di atas overlay */
  }

  .header-logo {
    display: flex;
    justify-content: space-between;
  }

  .header-text {
    margin-top: 20px;
  }

  .header-text2 {
    display: flex;
    justify-content: center;
  }

  .logo-png {
    width: 100px;
  }

  header .logo {
    position: static;
  }

  header h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 150px;
  }

  .form-konsultasi {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .div-keranjang {
    display: flex;
    justify-content: start;
    align-items: center;
    width: fit-content;
    gap: 5px;
  }

  .order-text {
    width: 50px;
    height: fit-content;
    text-align: center;
    font-size: 18px;
  }

  .plus-button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
  }

  .minus-button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
  }

  .body-keranjang {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  .product-side {
    flex: 1;
  }

  .div-foto-product {
    max-width: 90%;
    aspect-ratio: 4 / 3;
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
  }

  .option-product {
    &:hover {
        cursor: pointer;
    }
  }

  .nama-product {
    font-family: roboto;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
  }

  .product-option {
    display: flex;
    gap: 15px;
  }

  .option-foto-product {
    border-radius: 5px;
    overflow: hidden;
    width: 49px;
    height: 28px;
  }

  .foto-product {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  .plus {
    width: 15px;
  }

  .minus {
    width: 15px;
  }

  .sh-cart {
    width: 20px;
  }

  .order-button {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &:hover {
        cursor: pointer;
    }
  }

  .order-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .order-side p {
    text-align: justify;
  }

  .order-side form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  header p {
    font-size: 1.2em;
    margin-bottom: 330px;
    width: 60%;
  }

  header a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: color 0.4s ease;
  }

  header a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  header a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

  header a:hover {
    color: #4caf50;
  }

  .container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .section {
    margin-bottom: 50px;
    background-color: #fff;
    padding: 30px;
    border-radius: 17px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }

  .section.visible {
    opacity: 1;
    transform: translateY(0);
  }

  #about1 {
    margin-bottom: 50px;
    background-color: #fff;
    padding: 30px;
    border-radius: 17px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    display: flex;
    gap: 20px;
  }

  #about1.visible {
    opacity: 1;
    transform: translateY(0);
  }

  #about2 {
    margin-bottom: 50px;
    background-color: #fff;
    padding: 30px;
    border-radius: 17px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #about2.visible {
    opacity: 1;
    transform: translateY(0);
  }

  #services1 {
    margin-bottom: 50px;
    background-color: #fff;
    padding: 30px;
    border-radius: 17px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    display: flex;
    gap: 20px;
    align-items: center;
  }

  #services1.visible {
    opacity: 1;
    transform: translateY(0);
  }

  #services2 {
    margin-bottom: 50px;
    background-color: #fff;
    padding: 30px;
    border-radius: 17px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  #services2.visible {
    opacity: 1;
    transform: translateY(0);
  }

  #keranjang2 .body-keranjang {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  #keranjang2 .div-foto-product-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  h2 {
    color: #2e7d32;
    margin-bottom: 20px;
    font-size: 2em;
  }

  .about-img-div-area {
    flex: 1;
    min-width: 400px;
    display: flex;
    align-items: center;
  }

  .about-img-div {
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
    max-width: fit-content;
    max-height: fit-content;
  }
  
  .about-img {
    width: 100%;
    height: auto;
    display: block;
  }

  #services2 .service-img-div-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .service-img-div-area {
    flex: 1;
    min-width: 300px;
  }

  .service-img-div {
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
    max-width: fit-content;
    max-height: fit-content;
  }

  .service-img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    display: block;
  }

  .text-about {
    flex: 1.6;
  }

  .text-about h2 {
    font-size: 2.5em;
  }

  .text-about p {
    font-size: 1.1em;
  }

  p {
    margin-bottom: 20px;
  }

  ul {
    list-style-type: disc;
  }

  li {
    margin-bottom: 10px;
  }

  .button {
    display: inline-block;
    background-color: #b6984d;
    color: #fff;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
  }

  .button:hover {
    background-color: #1b5e20;
    transform: translateY(-5px);
  }

  .images-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .images-container img {
    width: 30%;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .images-container img:hover {
    transform: scale(1.05);
  }

  .schedule {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }

  .schedule h3 {
    color: #2e7d32;
    margin-bottom: 15px;
    font-size: 1.5em;
  }

  .schedule form {
    display: flex;
    flex-direction: column;
  }

  .schedule label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  .schedule input,
  .schedule textarea,
  .schedule select {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
  }

  footer {
    background-color: #b6984d;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: relative;
    width: 100%;
    bottom: 0;
  }

  footer p {
    margin: 0;
  }

  .side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: left 0.3s ease;
    z-index: 1001;
    padding-top: 60px;
  }

  .side-menu.active {
    left: 0;
  }

  .side-menu ul {
    list-style-type: none;
    padding: 0;
  }

  .side-menu ul li {
    padding: 15px;
    text-align: center;
  }

  .side-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  /* Style untuk overlay */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
  }

  .overlay.active {
    opacity: 1;
    visibility: visible;
  }

  /* Burger icon styling */
  .burger-icon {
    cursor: pointer;
    display: inline-block;
  }

  .burger-icon div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
  }

  /* Mobile */
  @media (max-width: 576px) {
    .header-text {
      display: none;
    }

    .menu-button{
      display: block;
      width: fit-content;
    }

    #about1 {
      display: none;
    }

    #about2 {
      display: flex;
    }

    #services1 {
      display: none;
    }

    #services2 {
      display: flex;
    }

    #keranjang {
      display: none;
    }

    #keranjang2 {
      display: block;
    }
  }

  /* Tablet */
  @media (min-width: 577px) and (max-width: 768px) {
    .header-text {
      display: none;
    }

    .menu-button{
      display: block;
      width: fit-content;
    }

    #about1 {
      display: none;
    }

    #about2 {
      display: flex;
    }

    #services1 {
      display: none;
    }

    #services2 {
      display: flex;
    }

    #keranjang {
      display: none;
    }

    #keranjang2 {
      display: block;
    }
  }

  /* Small Laptops */
  @media (min-width: 769px) and (max-width: 992px) {
    .menu-button{
      display: none;
    }

    #about1 {
      display: none;
    }

    #about2 {
      display: flex;
    }

    #services1 {
      display: none;
    }

    #services2 {
      display: flex;
    }

    #keranjang {
      display: none;
    }

    #keranjang2 {
      display: block;
    }
  }

  /* Desktops */
  @media (min-width: 993px) and (max-width: 1200px) {
    .menu-button{
      display: none;
    }

    #about1 {
      display: flex;
    }

    #about2 {
      display: none;
    }

    #services1 {
      display: flex;
    }

    #services2 {
      display: none;
    }

    #keranjang {
      display: block;
    }

    #keranjang2 {
      display: none;
    }
  }

  /* Large Desktops */
  @media (min-width: 1201px) {
    .menu-button{
      display: none;
    }

    #about1 {
      display: flex;
    }

    #about2 {
      display: none;
    }

    #services1 {
      display: flex;
    }

    #services2 {
      display: none;
    }

    #keranjang {
      display: block;
    }

    #keranjang2 {
      display: none;
    }
  }